ollama_storage/
agent-service/**/__pycache__/**
agent-service/audio/
agent-service/data/
postgres_data/
qdrant_data/
n8n_data/
certbot/internal/*.key
certbot/internal/*.crt
certbot/internal/*.csr
certbot/internal/*.srl
certbot/conf/
certbot/www/
