fastapi
uvicorn
pydantic
httpx
qdrant-client==1.10.0
langchain
langchain-community
langchain-ollama
python-dotenv
gTTS
# Dependencias para procesar Audio y Señales
librosa
numpy
scipy
redis
streamlit
requests
pyodbc
pymssql

pandas 
openpyxl
PyPDF2 
python-docx 
pdfplumber